[strings]

proxy = http://walter_ritzel:Wrpc.0218@anonproxy.us.dell.com:80

ticket_content = messages
ticket_output = json
ticket_user = Developer
ticket_pass = R1v3r1nsight@
ticket_columns = objid,datetime,priority,parentid,message,user,status,name,type,dateonly,timeonly
ticket_obj_id = 0
ticket_url = https://insight.riverlite.co.uk/api/table.%s?content=%s&output=%s&username=%s&password=%s&columns=%s&id=%s&count=%s&start=%s

sql_select_object = select name from sqlite_master where type in ('table','view') order by name
sql_select_tables = select name from sqlite_master where type = 'table' order by name
sql_select_priority1 = SELECT ticket_number, customer_name FROM fact_ticket WHERE priority = 1 ORDER BY open_dt_wid desc LIMIT 3
sql_select_priority2 = SELECT ticket_number, customer_name FROM fact_ticket WHERE priority = 2 ORDER BY open_dt_wid desc LIMIT 3
sql_select_priorities = select * from fact_today_tickets_by_priority
sql_select_type_count = select type_name, count(1) as cnt from fact_stats group by type_name
sql_select_stats = SELECT calendar_year, count(1) from fact_stats group by calendar_year
sql_select_totals = SELECT * from fact_totals

sql_insert_type = INSERT INTO dim_ticket_type (type_name, create_date) VALUES ('%s', '%s')
sql_insert_date = INSERT INTO dim_date (row_wid, calendar_date, calendar_year, calendar_month, calendar_week) VALUES (%s, '%s', %s, %s, %s)
sql_insert_ticket = INSERT INTO fact_ticket (ticket_number, type_wid, customer_name, open_dt_wid, close_dt_wid, open_date, open_time, close_date, close_time, status, priority, create_date, update_date) VALUES ('%s', %s, '%s', %s, %s, '%s', '%s', '%s', '%s', '%s', %s, '%s', '%s')

[numbers]
DryRun = False
DryRunLimit = 200
use_proxy = False
get_random_proxy = False
ticket_page_size = 500

[logging]
Folder = log
ArchiveFolder = log/archive
FileNameFormat = log/execution_{0:%Y%m%d%H%M%S}.log
FileNameFunction = datetime.datetime.now()
LineFormat = %(asctime)s - %(levelname)s: %(message)s
Level = DEBUG
GenerateArchive = True
FilesToKeep = 10
PrintToConsole = True


[database]
dbType = SQLite
dbConnectionString = data/dash_data.db
sqlMetadataTable = sqlite_master
