[strings]

proxy = http://user:pass@host:port

sql_select_object = select name from sqlite_master where type in ('table','view') order by name
sql_select_tables = select name from sqlite_master where type = 'table' order by name
sql_select_priority1 = SELECT ticket_number, customer_name FROM w_ticket_status_f WHERE priority = 6 AND open = 1 ORDER BY open_date desc LIMIT 3
sql_select_priority2 = SELECT ticket_number, customer_name FROM w_ticket_status_f WHERE priority = 15 AND open = 1 ORDER BY open_date desc LIMIT 3
sql_select_periods = SELECT period, open, closed from w_ticket_date_f
sql_select_type_count = select board_name, count(1) as cnt from w_ticket_status_f where open = 1 group by board_name
sql_select_vcloud = select group_name, avg(uptime_last_30) as uptime_last_30, avg(uptime) as uptime, min(first_uptime_date) from w_sensor_vcloud_stats_f group by group_name
sql_select_service = select service_name, avg(uptime_last_30) as uptime_last_30, avg(uptime) as uptime, min(first_uptime_date) from w_sensor_vcloud_stats_f group by service_name
sql_select_resources = select resource_name, cnt from w_resource_status_f order by cnt desc

[numbers]
DryRun = False
DryRunLimit = 200
use_proxy = False
get_random_proxy = False

[logging]
Folder = log
ArchiveFolder = log/archive
FileNameFormat = log/execution_{0:%Y%m%d%H%M%S}.log
FileNameFunction = datetime.datetime.now()
LineFormat = %(asctime)s - %(levelname)s: %(message)s
Level = DEBUG
GenerateArchive = True
FilesToKeep = 10
PrintToConsole = True

[database]
dbType = SQLite
dbConnectionString = data/dash_data.db
sqlMetadataTable = sqlite_master
