[strings]

proxy = http://user:pass@host:port

prtg_user = Developer
prtg_pass = R1v3r1nsight@
prtg_url = https://insight.riverlite.co.uk/api/table.%s?content=%s&output=%s&username=%s&password=%s&columns=%s&count=%s&start=%s

message_content = messages
message_output = json
message_columns = objid,datetime,priority,parentid,message,user,status,name,type,dateonly,timeonly
message_obj_id = 0
message_url = &id=%s

sensor_content = sensors
sensor_output = json    
sensor_columns = objid,group,device,sensor,status,priority,uptime,downtime,lastup,lastdown,cumsince,knowntime

tickets_url = https://api-eu.myconnectwise.net/v4_6_release/apis/3.0/service/tickets?page=%s&pageSize=%s&conditions=lastUpdated >[%s]
tickets_count_url = https://api-eu.myconnectwise.net/v4_6_release/apis/3.0/service/tickets/count?conditions=lastUpdated >[%s]
tickets_cid = riverlite
tickets_pbk = SiUG2WOz82u0KJhs
tickets_pvk = cHISQrSHqvRqz50U
tickets_auth = %s+%s:%s

tickets_status_url = https://api-eu.myconnectwise.net/v4_6_release/apis/3.0/service/boards/%s/statuses
tickets_priority_url = https://api-eu.myconnectwise.net/v4_6_release/apis/3.0/service/priorities

sql_select_object = select name from sqlite_master where type in ('table','view') order by name
sql_select_tables = select name from sqlite_master where type = 'table' order by name

sql_insert_last_date = INSERT INTO w_last_date_d (last_date) VALUES ('%s')
sql_insert_type = INSERT INTO w_type_d (row_wid, type_name, create_date) VALUES (%s, '%s', '%s')
sql_insert_date = INSERT INTO w_date_d (row_wid, calendar_date, calendar_year, calendar_month, calendar_week) VALUES (%s, '%s', %s, %s, %s)
sql_insert_ticket = INSERT INTO w_ticket_f (ticket_number, type_wid, customer_name, open_dt_wid, close_dt_wid, open_date, open_time, close_date, close_time, status, priority, create_date, update_date) VALUES ('%s', %s, '%s', %s, %s, '%s', '%s', '%s', '%s', '%s', %s, '%s', '%s')
sql_insert_sensor = INSERT INTO w_sensor_f (sensor_id, sensor_name, device_name, group_name, status, priority, uptime, dowtime, last_uptime_date, last_downtime_date, first_uptime_date) VALUES (%s, '%s', '%s', '%s', '%s', %s, %s, %s, '%s', '%s', '%s')
sql_update_ticket = UPDATE w_ticket_f SET type_wid=%s, customer_name='%s', open_dt_wid=%s, close_dt_wid=%s, open_date='%s', open_time='%s', close_date='%s', close_time='%s', status=%s, priority=%s, update_date='%s' WHERE ticket_number = %s

sql_update_last_date = UPDATE w_last_date_d SET last_date = '%s'
sql_select_last_date = SELECT last_date FROM w_last_date_d

sql_insert_priority = INSERT INTO w_priority_d (row_wid, priority_name, sort_order) VALUES (%s, '%s', %s)
sql_insert_status = INSERT INTO w_status_d (row_wid, status_name, board_id) VALUES (%s, '%s', %s)

[numbers]
DryRun = False
DryRunLimit = 200
use_proxy = False
get_random_proxy = False
prtg_page_size = 500
sensor_page_size = 10000
tickets_header = { 'Authorization': 'Basic %s', 'Content-Type': 'application/json', 'Accept': 'application/vnd.connectwise.com+json; version=3.0.0'}
tickets_page_size = 100
tickets_types = {'ServiceTicket': 1, 'ProjectTicket': 2, 'ProjectIssue':3}
tickets_boards = [1]

[logging]
Folder = log_job
ArchiveFolder = log_job/archive
FileNameFormat = log_job/execution_{0:%Y%m%d%H%M%S}.log
FileNameFunction = datetime.datetime.now()
LineFormat = %(asctime)s - %(levelname)s: %(message)s
Level = DEBUG
GenerateArchive = True
FilesToKeep = 10
PrintToConsole = True


[database]
dbType = SQLite
dbConnectionString = data/dash_data.db
sqlMetadataTable = sqlite_master
